body{
    margin: 0;
    background-color:rgb(46, 46, 55);
}

header{
    margin: 0;
    padding: 1%;
    background-color: rgb(21, 21, 40);
}

h1{
    color: white;
    text-align: center;
    font-size: 4em;
    margin: 15px 5%;
}

article{
    margin: 30px 5%;
}

a{
    text-decoration: none;
    display: block;
    background-color: rgb(148, 166, 164);
    padding: 1em;
    text-align: center;
    font-size: 2em;
    color: rgb(28, 65, 66);
    border-color: rgb(41, 77, 73);
    border-width: 0.2em;
    border-style: solid;
}